# Food at Hogwarts

Start by importing the necessary libraries

In [1]:
# Import the pandas library
import pandas as pd
import numpy as np

Read in the data from the csv files. This time, we'll be working with two csv files. Make sure to name them different things (items and sales)!

URL1: https://raw.githubusercontent.com/ishaandey/node/master/week-3/workshop/items.csv
<br>URL2: https://raw.githubusercontent.com/ishaandey/node/master/week-3/workshop/sales.csv

In [2]:
# Read in the data from both 
items=pd.read_csv('https://raw.githubusercontent.com/ishaandey/node/master/week-3/workshop/items.csv')
sales=pd.read_csv('https://raw.githubusercontent.com/ishaandey/node/master/week-3/workshop/sales.csv')

Take a look at the data you'll be working with in each dataframe

In [3]:
# Check out the info for both the item and sale dataframes
print(items.info())
print(sales.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   item_id            20 non-null     int64
 1   item_name          20 non-null     object
 2   food_category      20 non-null     object
 3   item_supplier      20 non-null     object
 4   house_affiliation  20 non-null     object
dtypes: int64(1), object(4)
memory usage: 928.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sale_id         50 non-null     int64
 1   credit_card     50 non-null     float64
 2   customer_email  40 non-null     object
 3   first_name      50 non-null     object
 4   last_name       50 non-null     object
 5   date_time       50 non-null     object
 6   item_id         50 non-null     int64
dtypes: float64(1), int64(2), object(4)
memory usage: 2.9+ KB
None

In [4]:
# View the first five few rows of each dataframe.
items.head(5)
sales.head(5)

,sale_id,credit_card,customer_email,first_name,last_name,date_time,item_id
0,1,3.050640e+13,sgoreisr0@e-recht24.de,Sidoney,Goreisr,1/16/21 4:40,4
1,2,6.377630e+15,mmonday1@dot.gov,Melita,Monday,5/18/20 8:18,4
2,3,3.532050e+15,lmaccallister2@theglobeandmail.com,Levi,MacCallister,8/26/20 13:15,17
3,4,3.536160e+15,NaN,Lisette,Cymper,4/17/20 2:03,14
4,5,3.727260e+14,sklossek4@gmpg.org,Seth,Klossek,6/21/20 20:43,2

The sales dataframe tells us who bought different food items at hogwarts, but somehow the names of the items got lost! The dataframe does still have the item ids though. We can use the items dataframe to match the ids in that dataframe with the ones of the item ids in the sales dataframe to merge the two datasets. Save the merged dataframe to a new dataframe called merged_data

In [5]:
# Merge the sale and item data frames
# (Hint:experiment with values for the 'how' argument)
merged_data=pd.merge(sales,items,how='left',on='item_id')
merged_data.head()

,sale_id,credit_card,customer_email,first_name,last_name,date_time,item_id,item_name,food_category,item_supplier,house_affiliation
0,1,3.050640e+13,sgoreisr0@e-recht24.de,Sidoney,Goreisr,1/16/21 4:40,4,Cockroach Clusters,Food,Wintheiser Group,Ravenclaw
1,2,6.377630e+15,mmonday1@dot.gov,Melita,Monday,5/18/20 8:18,4,Cockroach Clusters,Food,Wintheiser Group,Ravenclaw
2,3,3.532050e+15,lmaccallister2@theglobeandmail.com,Levi,MacCallister,8/26/20 13:15,17,Sherbet Lemon,Dessert,Kreiger Inc,Ravenclaw
3,4,3.536160e+15,NaN,Lisette,Cymper,4/17/20 2:03,14,Hogwarts Steak And Kidney Pie,Dessert,"Tillman, Koch and Torphy",Gryffindor
4,5,3.727260e+14,sklossek4@gmpg.org,Seth,Klossek,6/21/20 20:43,2,Hagrid's Rock Cakes,Dessert,"Swift, Padberg and Farrell",Slytherin

Next, get rid of the credit card column to protect the costuomers' personal information

In [6]:
# Remove the credit card column
merged_data=merged_data.drop(columns='credit_card')
merged_data.head()

,sale_id,customer_email,first_name,last_name,date_time,item_id,item_name,food_category,item_supplier,house_affiliation
0,1,sgoreisr0@e-recht24.de,Sidoney,Goreisr,1/16/21 4:40,4,Cockroach Clusters,Food,Wintheiser Group,Ravenclaw
1,2,mmonday1@dot.gov,Melita,Monday,5/18/20 8:18,4,Cockroach Clusters,Food,Wintheiser Group,Ravenclaw
2,3,lmaccallister2@theglobeandmail.com,Levi,MacCallister,8/26/20 13:15,17,Sherbet Lemon,Dessert,Kreiger Inc,Ravenclaw
3,4,NaN,Lisette,Cymper,4/17/20 2:03,14,Hogwarts Steak And Kidney Pie,Dessert,"Tillman, Koch and Torphy",Gryffindor
4,5,sklossek4@gmpg.org,Seth,Klossek,6/21/20 20:43,2,Hagrid's Rock Cakes,Dessert,"Swift, Padberg and Farrell",Slytherin

It looks like some people forgot to put an email when they were filling out the form. Subset the data to get only the customers with a missing value for the email so we can find them to get their email and save it in a new dataframe called subset_data. We'll use this new dataframe to get their names.

In [7]:
# Find the number of customers who do not have an email
merged_data[merged_data.customer_email.isna()].shape[0]

10

In [8]:
# Subset the data to only the customers with a missing value for the email
subset_data=merged_data[merged_data.customer_email.isna()]
subset_data

,sale_id,customer_email,first_name,last_name,date_time,item_id,item_name,food_category,item_supplier,house_affiliation
3,4,NaN,Lisette,Cymper,4/17/20 2:03,14,Hogwarts Steak And Kidney Pie,Dessert,"Tillman, Koch and Torphy",Gryffindor
11,12,NaN,Bondy,McGorley,1/10/21 17:40,16,Fred And George's Skiving Snackboxes,Dessert,"Reinger, Waelchi and Breitenberg",Gryffindor
13,14,NaN,Betsy,Harman,9/7/20 6:44,7,Mrs. Dursley's Pudding,Food,Haag-Gorczany,Gryffindor
15,16,NaN,Sly,MacGiany,12/28/20 14:16,8,Mrs. Weasley's Corned Beef Sandwiches,Dessert,"Hills, Heidenreich and Paucek",Slytherin
16,17,NaN,Dominic,Jekel,4/2/20 15:43,6,Bertie Bott's Every Flavor Beans,Food,Rosenbaum Group,Gryffindor
17,18,NaN,Feliks,Durker,4/18/20 22:15,20,Butterbeer,Dessert,Heidenreich Group,Gryffindor
19,20,NaN,Madalena,Purveys,5/7/20 2:17,19,Harry's Birthday Cake From Hagrid,Food,"Stroman, Wolff and Bradtke",Gryffindor
27,28,NaN,Elwyn,Manass,3/3/20 13:03,11,Pumpkin Pasties,Dessert,Cronin and Sons,Slytherin
40,41,NaN,Norri,Brammall,5/31/20 12:00,16,Fred And George's Skiving Snackboxes,Dessert,"Reinger, Waelchi and Breitenberg",Gryffindor
45,46,NaN,Chad,Atwell,5/4/20 17:07,14,Hogwarts Steak And Kidney Pie,Dessert,"Tillman, Koch and Torphy",Gryffindor

In [9]:
# Extract the first names of customers without emails
subset_data['first_name']

3      Lisette
11       Bondy
13       Betsy
15         Sly
16     Dominic
17      Feliks
19    Madalena
27       Elwyn
40       Norri
45        Chad
Name: first_name, dtype: object

Let's check which domain name are most popular in the customer emails (.com, .gov, etc).

In [10]:
# First subset the data so we only get the emails for the customers who entered one and store it in a new dataframe
emails_present=merged_data[merged_data['customer_email'].notna()]

In [11]:
# Split the customer emails in the new dataframe to get just the stuff after the . and get the proportions of each type
emails_present['customer_email'].str.split('@').apply(lambda x: x[1]).str.split('.').apply(lambda x: x[1]).value_counts(normalize=True)

com    0.675
org    0.050
co     0.050
edu    0.025
net    0.025
uk     0.025
jp     0.025
gov    0.025
mil    0.025
de     0.025
ru     0.025
ne     0.025
Name: customer_email, dtype: float64

One of the uses for the customer's emails is for marketing! Let's find out which houses have the biggest affilitations with items so we know who to target

In [12]:
#Find the proportions of customers belonging to each house.
merged_data['house_affiliation'].value_counts(normalize=True)

Gryffindor    0.52
Slytherin     0.24
Ravenclaw     0.14
Hufflepuff    0.10
Name: house_affiliation, dtype: float64

Let's get some more marketing information by finding out how many sales were made this month (February). Remember that we have to convert to DateTime first though!

In [13]:
# Convert the "date_time" column to DateTime type.
merged_data['date_time']=pd.to_datetime(merged_data['date_time'])

In [14]:
# Find the number of sales made in February
len(merged_data[merged_data['date_time'].dt.month == 2])

5

We're renaming Butterbeer to make it more family friendly to Buttersoda :((. Replace all the instances of Butterbeer to Buttersoda and check to make sure the changes worked.

In [15]:
# Change every instance of "Butterbeer" to "Buttersoda"
merged_data['item_name']=merged_data['item_name'].replace({'Butterbeer':'Buttersoda'})

In [16]:
# Check the change by subsetting the dataframe to only that item, Buttersoda
merged_data[merged_data['item_name']=='Buttersoda']

,sale_id,customer_email,first_name,last_name,date_time,item_id,item_name,food_category,item_supplier,house_affiliation
17,18,NaN,Feliks,Durker,2020-04-18 22:15:00,20,Buttersoda,Dessert,Heidenreich Group,Gryffindor
25,26,dcrispep@wordpress.com,Dorian,Crispe,2021-02-03 02:10:00,20,Buttersoda,Dessert,Heidenreich Group,Gryffindor
32,33,kmathivatw@woothemes.com,Krispin,Mathivat,2020-11-16 02:42:00,20,Buttersoda,Dessert,Heidenreich Group,Gryffindor
48,49,obindley1c@hubpages.com,Orv,Bindley,2021-01-02 19:38:00,20,Buttersoda,Dessert,Heidenreich Group,Gryffindor
49,50,cbartozzi1d@narod.ru,Cordi,Bartozzi,2020-11-03 02:35:00,20,Buttersoda,Dessert,Heidenreich Group,Gryffindor